/* ----------------------Footer---------------------------- */
.footer {
  background: var(--darck-background);
}
.flex-footer {
  display: flex;
  flex-direction: column;
}
.address-nav {
  display: flex;
  flex-direction: column;
}
.logotype.logotype-footer {
  color: var(--white-text-color);
  margin-bottom: 22px;
}

.address-text-footer {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-text-color);
  font-style: normal;
  margin-bottom: 11px;
}
.footer-tel {
  margin-top: 11px;
}
.address-nav .footer-tel,
.address-nav .footer-mail {
  color: var(--footer-text-tel-color);
  font-style: normal;
}
.footer-sectioun {
  display: flex;
  align-items: baseline;
}
.footer-right-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text-color);
}
.footer-right {
  margin-left: 70px;
}
.footer-icon-list {
  display: flex;
  justify-content: flex-start;
}

.footer-icon-item {
  margin-top: 20px;
  & + & {
    margin-left: 10px;
  }
}

.footer-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--button-active-background);
  }
}
.footer-icon {
  fill: var(--white-text-color);
}
.form-send {
  display: flex;
}
.footer-form {
  display: flex;
  margin-left: 93px;
  padding-top: 72px;
  padding-bottom: 94px;
}
.title-form-footer {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text-color);
  margin-bottom: 20px;
}
.input-form-footer {
  width: 358px;
  height: 50px;
  background-color: var(--darck-background);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  color: rgba(255, 255, 255, 0.6);
}
.btn-form-footer {
  display: flex;
  width: 200px;
  height: 50px;
  background: var(--button-active-background);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  color: var(--white-text-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  padding-left: 29px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 12px;
  align-items: center;
}
.icon-btn-footer {
  margin-right: 10px;
}
