/* ----------------Команда------------------------------------ */
.comand {
  background: var(--second-background);
  padding-top: 94px;
  padding-bottom: 94px;
}
.title-author {
  margin-bottom: 50px;
}
.flex-author {
  display: flex;
}
.author-item {
  flex-direction: column;
  min-width: 270px;
  min-height: 368px;
  background-color: var(--header-background);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.img-author {
  display: block;
  width: 270px;
  height: 260px;
}
.flex-author-text {
  padding-top: 30px;
  padding-bottom: 30px;
}

.author-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-text-color);

  margin-bottom: 10px;
}
.profession {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}
.author-icon-list {
  display: flex;
  justify-content: center;
}

.author-icon-item {
  margin-top: 16px;
  & + & {
    margin-left: 10px;
  }
}
// .author-icon-link:hover {
//   background-color: var(--button-active-background);
// }
// .author-icon-link:focus {
//   background-color: var(--button-active-background);
// }
// .author-icon-link:hover .author-icon {
//   fill: var(--white-text-color);
// }
// .author-icon-link:focus .author-icon {
//   fill: var(--white-text-color);
// }
.author-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: var(--header-background);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--button-active-background);
  }
}
.author-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .author-icon-link:hover &,
  .author-icon-link:focus & {
    fill: var(--white-text-color);
  }
}
